<div class="container">
    <div class="row">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.n5eRgm71jsbKa3_zmp03KgHaJ4?w=145&h=193&c=7&r=0&o=5&pid=1.7">
            <h4>pasta</h4>
            <p>This will set the viewport of your page, which will give the browser instructions on how to control the
                page's dimensions and scaling.</p>
            <p>Here is an example of a web page without the viewport meta tag, and the same web page with the viewport
                meta tag:</p>
            <p>Here is an example of a web page without the viewport meta tag, and the same web page with the viewport
                meta tag:</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.n5eRgm71jsbKa3_zmp03KgHaJ4?w=145&h=193&c=7&r=0&o=5&pid=1.7">
            <h4>pasta</h4>
            <p>This will set the viewport of your page, which will give the browser instructions on how to control the
                page's dimensions and scaling.</p>
            <p>Here is an example of a web page without the viewport meta tag, and the same web page with the viewport
                meta tag:</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.n5eRgm71jsbKa3_zmp03KgHaJ4?w=145&h=193&c=7&r=0&o=5&pid=1.7">
            <h4>pasta</h4>
            <p>This will set the viewport of your page, which will give the browser instructions on how to control the
                page's dimensions and scaling.</p>
            <p>Here is an example of a web page without the viewport meta tag, and the same web page with the viewport
                meta tag:</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</div>